<div class="table table-auto w-full card-container drop-shadow-md">
  <div class="table-header-group">
    <div class="table-row bg-white text-gray-800">
      <div class="table-cell text-lg p-4 pl-8">Contracts</div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
      <div class="table-cell">
        <%#= button_tag "Import Contracts", class: "button-primary drop-shadow-lg" %>
        <%= button_tag(type: "button", class: "button-primary drop-shadow-lg") do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-1.5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
          </svg>
          Import Contracts
        <% end %>
      </div>
    </div>
  </div>
  <div class="table-header-group">
    <div class="table-row bg-gray-50 text-gray-800 text-sm">
      <div class="table-cell border-t border-gray-300 p-4 pl-8">Contract Owner</div>
      <div class="table-cell border-t border-gray-300 p-4 pl-8">Supplier</div>
      <div class="table-cell border-t border-gray-300 p-4 pl-8">Contract Name</div>
      <div class="table-cell border-t border-gray-300 p-4 pl-8">Start Date</div>
      <div class="table-cell border-t border-gray-300 p-4 pl-8">End Date</div>
      <div class="table-cell border-t border-gray-300 p-4 pl-8">Contract Value</div>
    </div>
  </div>
  <div class="table-row-group">
    <% @contracts.each do |contract| %>
      <div id=<%= dom_id(contract) %> class="table-row text-gray-600 text-sm">
        <div class="table-cell border-t border-gray-300 p-4 pl-8"><%= "#{contract.contract_owner.first_name} #{contract.contract_owner.last_name}" %></div>
        <div class="table-cell border-t border-gray-300 p-4 pl-8"><%= link_to contract.supplier, "#", class: "link-text" if contract.supplier.present? %></div>
        <div class="table-cell border-t border-gray-300 p-4 pl-8"><%= contract.name %></div>
        <div class="table-cell border-t border-gray-300 p-4 pl-8"><%= contract.start_date %></div>
        <div class="table-cell border-t border-gray-300 p-4 pl-8"><%= contract.end_date %></div>
        <div class="table-cell border-t border-gray-300 p-4 pl-8"><%= contract.value.format %></div>
      </div>
    <% end %>
  </div>
</div>
