<!DOCTYPE html>
<html>
  <head>
    <title>TropicTakeHome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-purple-50 h-full w-full">
    <%= render partial: "layouts/nav" %>

    <main class="container mx-auto mt-28 px-5">
      <%= turbo_frame_tag "flash" do %>
        <%= render partial: "shared/flash_messages" %>
      <% end %>
      <%= turbo_frame_tag "table_container" do %>
        <%= yield %>
      <% end %>
    </main>
  </body>
</html>
